Macboy/obj/*
Macboy/bin/*
.DS_Store
DS_Store

Macboy.userprefs

Macboy/deploy/*

Macboy/test-results/

Tomboy.userprefs

Macboy/test-results/*


*.dll

Macboy-UnitTests/bin/*
Macboy-UnitTests/test-results/*
*.test-cache

*.exe

*.exe

*.mdb
tomboy/test-results
tomboy/obj
tomboy/deploy
Macboy-UnitTests/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
Macboy-UnitTests/obj/x86/Debug/Macboy-UnitTests
Macboy-UnitTests/obj/x86/Debug/Macboy-UnitTests.csproj.FilesWrittenAbsolute.txt
Macboy-UnitTests/obj/x86/Release/.NETFramework,Version=v4.0.AssemblyAttribute.cs
Macboy-UnitTests/obj/x86/Release/Macboy-UnitTests.csproj.FilesWrittenAbsolute.txt
Macboy-UnitTests/obj
