Macboy/obj/*
Macboy/bin/*
.DS_Store
DS_Store

Macboy.userprefs

Macboy/deploy/*

Macboy/test-results/

Tomboy.userprefs

Macboy/test-results/*


*.dll

Macboy-UnitTests/bin/*

*.test-cache

*.exe

*.exe

*.mdb
